.main-container {
  display: flex;
  justify-content: space-between;
}

.customizePosition {
  position: absolute;
  left: 0;
  top: 35%;
}

.customizePosition1 {
  position: absolute;
  right: 5px;
  top: 35%;
}
.close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.23px;
  line-height: 21px;
  cursor: pointer;
}

.ContentContainer {
  width: 1000px;
  background-color: #f7f8fb;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  left: 30px;
  top: 77px;
  position: absolute;
  z-index: 2;
  padding-right: 40px;
}
/* width */
.ContentContainer ::-webkit-scrollbar {
  width: 11px;
}

/* Track */
.ContentContainer ::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Handle */
.ContentContainer ::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 4px;
  height: 59px;
}

/* Handle on hover */
.ContentContainer ::-webkit-scrollbar-thumb:hover {
  background: #c9c2c2;
}
.ContentContainer .header1 {
  display: flex;
  align-items: center;
  height: 39px;
}

.contentCustomization {
  color: #042856;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.23px;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 70px;
}

.ContentContainer .MuiTabs-root {
  background-color: white;
  min-height: auto;
  margin-top: 9px;
  margin-left: 150px;
}
.MuiTabs-flexContainer {
  height: 30px;
}
button.MuiButtonBase-root.MuiTab-root {
  min-width: fit-content;
  color: #000000;
  font-family: Bogle;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 22px;
  text-transform: none;
  min-height: auto;
  margin-left: 4px;
  border-radius: 4px;
  margin: 1px 0;
}

.tabDescription {
  color: #031f42;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: -0.25px;
  line-height: 28px;
  padding-left: 45px;
  padding-top: 32px;
}
.tabDescription span {
  font-size: initial;
}
div[role="tabpanel"] {
  background-color: white;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.dragndrop {
  display: flex;
  padding-top: 18px;
}

.draggableList {
  background-color: azure;
  padding: 2%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-height: 480px;
  overflow-y: auto;
}

.draggableList1 {
  display: flex;
  flex-direction: column;
}

.draggableList .list-item,
.dropArea .list-item {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  margin: 0 16px 32px 16px;

  color: #031f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 24px;
  width: fit-content;
}

.image-list {
  margin: 0 12px 24px 12px;
  height: 70px;
  width: 189px;
}
.dropArea {
  box-sizing: border-box;
  height: 460px;
  width: 1100px;
  border: 1px dashed #979797;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 10px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  padding-top: 18px;
}
.dropArea p {
  opacity: 0.54;
  color: #031f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 28px;
  text-align: center;
  padding-top: 30%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer button {
  height: 31px;
  width: 141px;
  outline: none;
  border: none;
  color: #031f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 24px;
  border-radius: 8px;
  background-color: #f2f2f2;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  vertical-align: middle;
  margin: 24px 25px 65px 0px;
  cursor: pointer;
}

.footer .save {
  background-color: #ffffff;
}

.header-main {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-size: x-large;
  border: 1px solid grey;
  color: cornflowerblue;
}
